 .float-my-children  {
    float:left;    
     margin-right:2px;
}

.mat-expansion-panel .mat-expansion-panel-header {
  padding : 30px;
}
.mat-expansion-panel-header img{
float: left;
}
.mat-icon
{
position: absolute;
    top: 37%;
    left: 30%;
}
