<mat-card>
<p>
  <mat-form-field appearance="outline">
    <mat-label><b>Name</b></mat-label>
    <input matInput placeholder="name">
  
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label><b>Email-Id</b></mat-label>
    <input matInput placeholder="enter your email-id">
 
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label><b>Contact</b></mat-label>
    <input matInput placeholder="enter your contact number">
 
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label><b>Comment</b></mat-label>
    <input matInput placeholder="please add your comment">
  
  </mat-form-field>
  <button mat-button>
  Submit
  </button>
</p>

</mat-card>